[run]

omit =
    *__init__*    
    */test/*
    */examples/* 
    

[report]

# also exclude part of code that contain modal dialog call
exclude_lines =

    if __name__ == .__main__.:

    pragma: no cover
    
    except ImportError
    
    msb_noWriters
    
    #required for dealing with modal QFileDialog
    def getPathString
    
    # contain Filedialog call
    def browse_callback
    
    # required additional system tools
    def show_anim_callback
    
    def run
    
    def close_callback
